@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
    margin-left: 20%;
  }
  
  .healthbar {
    width: 390px;
    padding-top: 0px;
  }

  .liv {
    color: red;
    font-size: 50px;
  }
  
  .top_menu {
    width: 70%;
  
    margin: 0 auto 0 20%;
  
    display: flex;
  
    justify-content: space-between;
    align-items: last baseline;
  
  }
  
  .top_menu .score {
    display: flex;
    justify-content: space-around;
    width: 250px;
    font-size: 20px;
  }

  #forklaring {
    position: absolute;
    width: 230px;
    background-color: var(--azure);
    border-radius: 15px;
    padding: 0 15px;
    margin-left: 13px;
  }

  #forklaring p {
    font-size: 13px;
  }
  
  #loss_popup {
    
    width: 450px;
    height: 500px;
  
    position: absolute;
   
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--azure);
  
    border-radius: 20px;
    border: 2px solid black;
  
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  #loss_popup h3 {
    margin: 20px;
    font-size: 50px;
    
  }
  
  #loss_popup p {
    margin: 20px;
  }
  
  #final_score {
    font-size: 50px;
  }
  
  #restart_knapp {
    padding: 5px;
    background-color: var(--eggshell);
    font-size: 40px;
    border: 1px black solid;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #cookie_popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 450px;
    text-align: center;
    padding: 60px 50px;
    font-size: 10px;
    font-weight: 500;
    background-color: #fff;
    border-radius: 8px;
    font-style: italic;
    line-height: 11px;
    height: 500px;
    border: 1px black solid;
  
    display: none;
  }

  #cookie_popup h2 {
    font-size: 25px;
    margin-bottom: 40px;
  }
  
  #cookie_popup p {
    font-size: 15px;
  }

  .cookies {
    width: 100px;
    margin-bottom: 15px;
  }
  
  #cookie_popup button {
    background: #ff5945;
    color: #fff;
    padding: 15px 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    border: 0;
    outline: 0;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  .close-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
  }
  
  #strikethrough {
    text-decoration: line-through;
  }
  
  .hide {
    display: none transis;
    opacity: 0;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
  }
  
  .show {
    opacity: 1;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
  }

#pauseButton{
  background-color: var(--platinum);
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* Fra hovedsiden */

nav {
    background-color: var(--spacecadet);
}

nav h1,
nav i {
    color: var(--platinum);
}

nav .container {
    height: 120px;
}

.dropdown {
    display: none;
}

:root {
  --spacecadet: #2A2D43;
  --delft: #2c3c57;
  --powder: #B2C3D2;
  --carolina: rgb(140, 177, 196);
  --azure: #DCE7E7;
  --platinum: rgb(237, 238, 234);
  --eggshell: #EEE7D6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
    font-size: 40px;
    color: var(--spacecadet);
    font-weight: 900;
}

h3 {
    color: var(--spacecadet);
    font-size: 25px;
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

i {
    font-size: 30px;
    margin: 20px;
    color: var(--spacecadet);
}

.border {
    border-bottom: solid 2px var(--platinum);
    padding-bottom: 5px;
}

section {
    padding: 20px 0;
}

#overskift_cookie {
  text-decoration: none !important;
}

* {
  font-family: 'Montserrat', sans-serif;
}