@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    --spacecadet: #2A2D43;
    --delft: #2C3C57;
    --powder: #B2C3D2;
    --carolina: #8DB1C4;
    --azure: #DCE7E7;
    --platinum: #EDEEEA;
    --eggshell: #EEE7D6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

nav {
    background-color: var(--spacecadet);
}

nav h1,
nav i {
    color: var(--platinum);
}

nav .container {
    height: 120px;
}

h1, h2 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--spacecadet);
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

i {
    font-size: 30px;
    margin: 20px;
}

#om {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("some_hero.jpeg");
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#om h1, #om p {
    color: var(--platinum);
}

section {
    padding: 20px 0;
}

#SoMe {
    background-color: var(--eggshell);
}

#SoMe i {
    color: var(--spacecadet);
    padding: 10px;
    font-size: 50px;
}

#SoMe .container {
    text-align: center;
}

/* KUN FOR GDPR */

header{
    text-align: center;
    background-color: var(--eggshell);
    padding: 25px;
    font-family: "Montserrat";
}

.txt h2 {
    border-bottom: solid 5px var(--eggshell);
}