@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --spacecadet: #2A2D43;
    --delft: #2C3C57;
    --powder: #B2C3D2;
    --carolina: #8DB1C4;
    --azure: #DCE7E7;
    --platinum: #EDEEEA;
    --eggshell: #EEE7D6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

nav {
    background-color: var(--spacecadet);
}

nav h1,
nav i {
    color: var(--platinum);
}

nav .container {
    height: 120px;
}

h1, h2 {
    font-size: 40px;
    font-weight: 900;
    color: var(--spacecadet);
}

h3 {
    font-size: 25px;
    font-weight: 400;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

i {
    font-size: 30px;
    margin: 20px;
    color: var(--spacecadet);
}

#om {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("some_hero.jpeg");
    height: 60vh;
    background-size: cover;
    background-position: center;
}

#om h1, #om p {
    color: var(--platinum);
}

section {
    padding: 20px 0;
}

#SoMe {
    background-color: var(--eggshell);
}

#SoMe i {
    padding: 10px;
    font-size: 50px;
}

#SoMe .container:first-of-type {
    display: flex;
    justify-content: center;
}
#SoMe table {
    text-align: left;
    height: fit-content;
}

td, th {
    padding: 10px;
}

#tiktok {
    display: flex;
}


/* PARAGRAFER / GDPR TEKST */

header{
    text-align: center;
    background-color: var(--eggshell);
    padding: 25px;
}

.highlight {
    background-color: var(--azure);
}

#gdpr {
    width: fit-content;
}

#gdprfakta {
    display: none;
    margin-top: 10px;
}

#gdpr:hover + #gdprfakta {
    display: block;
}

.txt h2 {
    border-bottom: solid 5px var(--eggshell);
}

.txt {
    margin-top: 40px;
    margin-bottom: 40px;
}

.img {
    height: 300px;
    background-position: 50% 33%;
    background-size: cover;
}

.en {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("parlament.jpg");
    background-position: bottom;
} 

.to {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("persondata.jpg");
    background-position: center;
}

.tre {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("privacy_policy.jpg");
}

.fire {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("speak.jpg");
}

/* KILDER */

.kilde {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
    align-items: center;
}

.kilde h3 {
    grid-column: 2/3;
}

.kilde p {
    grid-column: 2/3;
}

.kursiv {
    font-style: italic;
}

.kilde a {
    color: var(--carolina);
}
