@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

:root {
    --spacecadet: #2A2D43;
    --delft: #2C3C57;
    --powder: #B2C3D2;
    --carolina: #8DB1C4;
    --azure: #DCE7E7;
    --platinum: #EDEEEA;
    --eggshell: #EEE7D6;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

nav {
    background-color: var(--spacecadet);
}

nav h1,
nav i {
    color: var(--platinum);
}

nav .container {
    height: 120px;
}

h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--spacecadet);
}

i {
    font-size: 30px;
    margin: 20px;
}

section {
    padding: 20px 0;
}

#SoMe {
    background-color: var(--eggshell);
}

#SoMe i {
    color: var(--spacecadet);
    padding: 10px;
    font-size: 50px;
}

#SoMe .container {
    text-align: center;
}